services:
  - type: web
    name: expense-tracker-api
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: ENVIRONMENT
        value: production
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false
      - key: POSTGRES_DB
        sync: false
      - key: POSTGRES_SERVER
        sync: false
      - key: POSTGRES_PORT
        value: "5432"
      - key: JWT_SECRET_KEY
        sync: false
      - key: JWT_ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "60"
    autoDeploy: true
